Read excel file

In [14]:
import pandas as pd
year = "2018"
xls = pd.ExcelFile('estimativa_TCU_2018_20200415.xls')
df = pd.read_excel(xls, 'Municípios', skiprows=[0] + [i for i in range(5572,5588)], dtype=str)
df = df.dropna()
df

      UF COD. UF COD. MUNIC      NOME DO MUNICÍPIO POPULAÇÃO ESTIMADA
0     RO      11      00015  Alta Floresta D'Oeste              23167
1     RO      11      00023              Ariquemes             106168
2     RO      11      00031                 Cabixi               5438
3     RO      11      00049                 Cacoal              84813
4     RO      11      00056             Cerejeiras              16444
...   ..     ...        ...                    ...                ...
5565  GO      52      22005             Vianópolis              13746
5566  GO      52      22054         Vicentinópolis               8611
5567  GO      52      22203               Vila Boa               6026
5568  GO      52      22302          Vila Propício               5758
5569  DF      53      00108               Brasília            2974703

[5570 rows x 5 columns]

Creates column MUNCOD and YEAR

In [15]:
df['COD. MUNIC'] = [x[:-1] for x in df['COD. MUNIC']]
df["MUNCOD"] = df["COD. UF"].astype(str) + df["COD. MUNIC"].astype(str)
df = df.astype({"MUNCOD": int})
df["YEAR"] = year
df

,UF,COD. UF,COD. MUNIC,NOME DO MUNICÍPIO,POPULAÇÃO ESTIMADA,MUNCOD,YEAR
0,RO,11,0001,Alta Floresta D'Oeste,23167,110001,2018
1,RO,11,0002,Ariquemes,106168,110002,2018
2,RO,11,0003,Cabixi,5438,110003,2018
3,RO,11,0004,Cacoal,84813,110004,2018
4,RO,11,0005,Cerejeiras,16444,110005,2018
...,...,...,...,...,...,...,...
5565,GO,52,2200,Vianópolis,13746,522200,2018
5566,GO,52,2205,Vicentinópolis,8611,522205,2018
5567,GO,52,2220,Vila Boa,6026,522220,2018
5568,GO,52,2230,Vila Propício,5758,522230,2018
5569,DF,53,0010,Brasília,2974703,530010,2018

Adjust population

In [16]:
df["POPULAÇÃO ESTIMADA"] = [x.split("(")[0].replace(".", "") for x in df['POPULAÇÃO ESTIMADA'].astype(str)]
df = df.astype({"POPULAÇÃO ESTIMADA": int})

Choose columns of interest

In [19]:
df.rename(columns={"POPULAÇÃO ESTIMADA": "POPULATION"}, inplace=True)
df = df[["POPULATION", "MUNCOD", "YEAR"]]
df

      POPULATION  MUNCOD  YEAR
0          23167  110001  2018
1         106168  110002  2018
2           5438  110003  2018
3          84813  110004  2018
4          16444  110005  2018
...          ...     ...   ...
5565       13746  522200  2018
5566        8611  522205  2018
5567        6026  522220  2018
5568        5758  522230  2018
5569     2974703  530010  2018

[5570 rows x 3 columns]

In [20]:
df.to_csv('POPULATION_' + year + ".csv")

Merge all population files

In [147]:
df1 = pd.read_csv('POPULATION_2017.csv')
df2 = pd.read_csv('POPULATION_2016.csv')
df3 = pd.read_csv('POPULATION_2015.csv')

In [148]:
df_final = pd.concat([df1, df2, df3], ignore_index=True)
df_final = df_final[["POPULATION", "MUNCOD", "YEAR"]]

       Unnamed: 0  POPULATION  MUNCOD  YEAR
0               0       25437  110001  2017
1               1      107345  110002  2017
2               2        6224  110003  2017
3               3       88507  110004  2017
4               4       17934  110005  2017
...           ...         ...     ...   ...
16705        5565       13456  522200  2015
16706        5566        8171  522205  2015
16707        5567        5495  522220  2015
16708        5568        5578  522230  2015
16709        5569     2914830  530010  2015

[16710 rows x 4 columns]

In [150]:
df_final.to_csv('POPULATION_15_17.csv')