Read excel file

In [142]:
import pandas as pd
year = "2015"
xls = pd.ExcelFile('estimativa_TCU_2015_20170614.xls')
df = pd.read_excel(xls, 'Municípios', skiprows=[0] + [i for i in range(5572,5588)], dtype=str)
df

      UF COD. UF COD. MUNIC        NOME DO MUNICÍPIO POPULAÇÃO ESTIMADA
0     RO      11      00015    Alta Floresta D'Oeste              25578
1     RO      11      00379  Alto Alegre dos Parecis              13940
2     RO      11      00403             Alto Paraíso              20210
3     RO      11      00346         Alvorada D'Oeste              17063
4     RO      11      00023                Ariquemes             104401
...   ..     ...        ...                      ...                ...
5565  GO      52      22005               Vianópolis              13456
5566  GO      52      22054           Vicentinópolis               8171
5567  GO      52      22203                 Vila Boa               5495
5568  GO      52      22302            Vila Propício               5578
5569  DF      53      00108                 Brasília            2914830

[5570 rows x 5 columns]

Creates column MUNCOD and YEAR

In [143]:
df['COD. MUNIC'] = [x[:-1] for x in df['COD. MUNIC']]
df["MUNCOD"] = df["COD. UF"].astype(str) + df["COD. MUNIC"].astype(str)
df = df.astype({"MUNCOD": int})
df["YEAR"] = year
df

,UF,COD. UF,COD. MUNIC,NOME DO MUNICÍPIO,POPULAÇÃO ESTIMADA,MUNCOD,YEAR
0,RO,11,0001,Alta Floresta D'Oeste,25578,110001,2015
1,RO,11,0037,Alto Alegre dos Parecis,13940,110037,2015
2,RO,11,0040,Alto Paraíso,20210,110040,2015
3,RO,11,0034,Alvorada D'Oeste,17063,110034,2015
4,RO,11,0002,Ariquemes,104401,110002,2015
...,...,...,...,...,...,...,...
5565,GO,52,2200,Vianópolis,13456,522200,2015
5566,GO,52,2205,Vicentinópolis,8171,522205,2015
5567,GO,52,2220,Vila Boa,5495,522220,2015
5568,GO,52,2230,Vila Propício,5578,522230,2015
5569,DF,53,0010,Brasília,2914830,530010,2015

Adjust population

In [144]:
df["POPULAÇÃO ESTIMADA"] = [x.split("(")[0].replace(".", "") for x in df['POPULAÇÃO ESTIMADA'].astype(str)]
df = df.astype({"POPULAÇÃO ESTIMADA": int})

Choose columns of interest

In [145]:
df.rename(columns={"POPULAÇÃO ESTIMADA": "POPULATION"}, inplace=True)
df = df[["POPULATION", "MUNCOD", "YEAR"]]
df

      POPULATION  MUNCOD  YEAR
0          25578  110001  2015
1          13940  110037  2015
2          20210  110040  2015
3          17063  110034  2015
4         104401  110002  2015
...          ...     ...   ...
5565       13456  522200  2015
5566        8171  522205  2015
5567        5495  522220  2015
5568        5578  522230  2015
5569     2914830  530010  2015

[5570 rows x 3 columns]

In [146]:
df.to_csv('POPULATION_' + year + ".csv")

Merge all population files

In [147]:
df1 = pd.read_csv('POPULATION_2017.csv')
df2 = pd.read_csv('POPULATION_2016.csv')
df3 = pd.read_csv('POPULATION_2015.csv')

In [148]:
df_final = pd.concat([df1, df2, df3], ignore_index=True)
df_final = df_final[["POPULATION", "MUNCOD", "YEAR"]]

       Unnamed: 0  POPULATION  MUNCOD  YEAR
0               0       25437  110001  2017
1               1      107345  110002  2017
2               2        6224  110003  2017
3               3       88507  110004  2017
4               4       17934  110005  2017
...           ...         ...     ...   ...
16705        5565       13456  522200  2015
16706        5566        8171  522205  2015
16707        5567        5495  522220  2015
16708        5568        5578  522230  2015
16709        5569     2914830  530010  2015

[16710 rows x 4 columns]

In [150]:
df_final.to_csv('POPULATION_15_17.csv')