# Time Series

## 1 - Data Prep

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import numpy as np
%matplotlib inline

from datetime import datetime
root = "../"

In [2]:
population = pd.read_csv(root + 'CSV/Population/population_08_18.csv', index_col=[0])
for col in population:
    if col != "MUNCOD":
        year = "20" + col.split("_")[1]
        population = population.rename(columns={col: year})
population = population.astype(int)
population.head()

,2018,MUNCOD,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,23167,110001,25437,25506,25578,25652,25728,24069,24228,24422,24354,24577
1,106168,110002,107345,105896,104401,102860,101269,92747,91570,90354,85541,84581
2,5438,110003,6224,6289,6355,6424,6495,6132,6221,6309,6695,6777
3,84813,110004,88507,87877,87226,86556,85863,79330,78959,78601,78675,78263
4,16444,110005,17934,17959,17986,18013,18041,16852,16939,17030,16622,16784

In [41]:
path = root + 'CSV/TabNet/Internacoes/'
suicide_path = root + 'CSV/TabNet/Suicides/'
df_final = pd.DataFrame()
list_of_diseases = ['TRANSTORNOS_DE_HUMOR_[AFETIVOS]',
 'TRANST_MENTAIS_E_COMPORTAMENTAIS_DEV_USO_DE_ÁLCOOL',
 'NEOPLASIA_MALIGNA_DO_CÓLON',
 'NEOPLASIA_MALIGNA_DE_TRAQUÉIA_BRÔNQUIOS_E_PULMÕES',
 'TRANST_MENTAIS_COMPORT_DEV_USO_OUTR_SUBST_PSICOAT',
 'BRONQUITE_ENFISEMA_E_OUTR_DOENÇ_PULM_OBSTR_CRÔNIC',
 'NEOPL_MALIG_JUNÇÃO_RETOSSIGM_RETO_ÂNUS_CANAL_ANAL',
 'OUTRAS_NEOPLASIAS_MALIGNAS_DA_PELE',
 'TRANSTORNOS_DE_CONDUÇÃO_E_ARRITMIAS_CARDÍACAS',
 'FLEBITE_TROMBOFLEBITE_EMBOLIA_E_TROMBOSE_VENOSA',
 'OUTRAS_DOENÇAS_ISQUÊMICAS_DO_CORAÇÃO',
 'TRANSTORNOS_DOS_NERVOS_RAÍZES_E_PLEXOS_NERVOSOS',
 'NEOPL_MALIG_OUTR_LOCALIZ_MAL_DEF_SECUN_E_NÃO_ESPEC',
 'DOENÇAS_DO_APÊNDICE',
 'COLELITÍASE_E_COLECISTITE',
 'NEOPLASIA_MALIGNA_DO_ESÔFAGO',
 'OUTROS_TRANSTRONOS_ARTICULARES',
 'UROLITÍASE',
 'PANCREATITE_AGUDA_E_OUTRAS_DOENÇAS_DO_PÂNCREAS',
 'TRANSTORNOS_DA_DENSIDADE_E_DA_ESTRUTURA_ÓSSEAS']
month_dic = {
    "Jan": "January",
    "Fev": "February",
    "Mar": "March",
    "Abr": "April",
    "Mai": "May",
    "Jun": "June",
    "Jul": "July",
    "Ago": "August",
    "Set": "September",
    "Out": "October",
    "Nov": "November",
    "Dez": "December"
}
def prepare_df(df):
    df["MUNCOD"] = [x.split(" ")[0] for x in df["Município"]]
    df = df[df["MUNCOD"] != "Total"]
    #(regex="^((?!2007|2019|2020).)*$")
    df = df.drop(columns=["Município"])
    df = df.replace("-",0)
    df = df.astype(int)
    return df
def get_next_month(month):
    res = None
    temp = iter(month_dic)
    for key in temp: 
        if key == month: 
            res = next(temp, None) 
    return res
suicide_df = pd.read_csv(suicide_path + "suicide_2018.csv", sep=";")
suicide_df = prepare_df(suicide_df)
suicide_df = suicide_df.drop(columns=["Total"])
for disease in list_of_diseases[1:2]:
    df_disease = pd.read_csv(path + disease + ".csv", sep=";")
    df_disease = prepare_df(df_disease)
    df_disease = df_disease.filter(regex="2018|MUNCOD")
    #df_disease = df_disease.drop(columns=["Total"])
#     years = [str(x) for x in range(2008,2019)]
    for month in list(month_dic.keys()):
        next_month = month_dic[month]
        print(get_next_month(month))
#         df_med = df_disease[["MUNCOD", "QTD_" + year, "SUICIDE_" + year, "SUICIDE_" + next_year]].copy()
#         df_med["YEAR"] = year
#         df_med.columns = ["MUNCOD", disease, "PREVIOUS", "TARGET", "YEAR"]
#         df_all_years = pd.concat([df_all_years,df_med])
#     for year in years:
#         suicide_df = pd.read_csv(suicide_path + "suicide_"+ year + ".csv", sep=";")
#         suicide_df = prepare_df(suicide_df)
#         suicide_df = suicide_df[["Total", "MUNCOD"]]
#         count = df_disease.filter(regex=year, axis=1).sum(axis=1)
#         df_disease = df_disease.filter(regex="^((?!" + year+ ").)*$")
#         df_disease["QTD_" + year] = count
#         df_disease = pd.merge(suicide_df, df_disease, on="MUNCOD")
#         df_pop = population[["MUNCOD", year]]
#         df_disease = pd.merge(df_disease, df_pop, on="MUNCOD")
#         df_disease["QTD_" + year] = df_disease["QTD_" + year] / df_disease[year] * 100000
#         df_disease["SUICIDE_" + year] = df_disease["Total"] / df_disease[year] * 100000
#         df_disease = df_disease.drop(columns=[year, "Total"])
#     years.pop()
#     df_all_years = pd.DataFrame()
#     for year in years:
#         next_year = str(int(year) + 1)
#         df_med = df_disease[["MUNCOD", "QTD_" + year, "SUICIDE_" + year, "SUICIDE_" + next_year]].copy()
#         df_med["YEAR"] = year
#         df_med.columns = ["MUNCOD", disease, "PREVIOUS", "TARGET", "YEAR"]
#         df_all_years = pd.concat([df_all_years,df_med])
#     if df_final.empty:
#         df_final = df_all_years
#     else:
#         df_all_years = df_all_years[["MUNCOD", disease, "YEAR"]]
#         df_final = pd.merge(df_final, df_all_years, on=["MUNCOD", "YEAR"])
# df_final.head()
suicide_df.head()

Fev
Mar
Abr
Mai
Jun
Jul
Ago
Set
Out
Nov
Dez
None

,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro,MUNCOD
0,0,0,0,0,0,0,0,0,0,1,0,0,110001
1,0,0,0,0,0,1,0,0,0,1,0,0,110037
2,0,1,1,0,0,0,0,0,0,0,0,0,110040
3,1,0,0,0,0,0,0,0,0,0,1,0,110034
4,0,1,0,0,0,0,0,0,0,1,0,0,110002

In [38]:

get_next_month("Dez")

'Jan'

In [12]:
df = df_final.drop(columns=["MUNCOD"])
df = df.astype(float)
df.head()

,TRANSTORNOS_DE_HUMOR_[AFETIVOS],PREVIOUS,TARGET,YEAR,TRANST_MENTAIS_E_COMPORTAMENTAIS_DEV_USO_DE_ÁLCOOL,NEOPLASIA_MALIGNA_DO_CÓLON,NEOPLASIA_MALIGNA_DE_TRAQUÉIA_BRÔNQUIOS_E_PULMÕES,TRANST_MENTAIS_COMPORT_DEV_USO_OUTR_SUBST_PSICOAT,BRONQUITE_ENFISEMA_E_OUTR_DOENÇ_PULM_OBSTR_CRÔNIC,NEOPL_MALIG_JUNÇÃO_RETOSSIGM_RETO_ÂNUS_CANAL_ANAL,...,OUTRAS_DOENÇAS_ISQUÊMICAS_DO_CORAÇÃO,TRANSTORNOS_DOS_NERVOS_RAÍZES_E_PLEXOS_NERVOSOS,NEOPL_MALIG_OUTR_LOCALIZ_MAL_DEF_SECUN_E_NÃO_ESPEC,DOENÇAS_DO_APÊNDICE,COLELITÍASE_E_COLECISTITE,NEOPLASIA_MALIGNA_DO_ESÔFAGO,OUTROS_TRANSTRONOS_ARTICULARES,UROLITÍASE,PANCREATITE_AGUDA_E_OUTRAS_DOENÇAS_DO_PÂNCREAS,TRANSTORNOS_DA_DENSIDADE_E_DA_ESTRUTURA_ÓSSEAS
0,8.137690,20.344224,8.212203,2008.0,0.000000,0.000000,0.000000,0.000000,252.268381,0.000000,...,20.344224,28.481914,0.000000,24.413069,146.478415,0.000000,4.068845,142.409570,0.000000,4.068845
1,1.182299,9.458389,2.338060,2008.0,1.182299,5.911493,0.000000,0.000000,55.568035,3.546896,...,21.281375,14.187583,11.822986,75.667112,102.859980,3.546896,7.093792,15.369882,5.911493,7.093792
2,1.277743,5.110972,7.626311,2008.0,0.000000,3.833229,1.277743,1.277743,61.331664,11.499687,...,47.276491,1.277743,10.221944,51.109720,98.386211,2.555486,7.666458,63.887150,3.833229,6.388715
3,0.000000,5.831924,5.698980,2008.0,0.000000,0.000000,0.000000,0.000000,34.991544,0.000000,...,11.663848,34.991544,0.000000,29.159620,64.151163,0.000000,0.000000,11.663848,11.663848,11.663848
4,4.933277,2.466639,7.359796,2008.0,2.466639,0.000000,0.000000,0.000000,66.599245,0.000000,...,0.000000,2.466639,9.866555,41.932858,36.999581,0.000000,9.866555,12.333194,4.933277,0.000000

In [14]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=["TARGET", "YEAR"])
y = df["TARGET"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [15]:
from sklearn.linear_model import LassoCV
reg = LassoCV()
reg.fit(X_train,y_train)
print(reg.alpha_)
print(reg.score(X_train,y_train))
coef = pd.Series(reg.coef_, index=X_train.columns)
print("Lasso picked " + str(sum(coef != 0)) + " variables and eliminated the other "+ str(sum(coef==0)) + " variables")
imp_coef = coef.sort_values(ascending=False)

1.2213025805284636
0.38291302303966923
Lasso picked 13 variables and eliminated the other 8 variables

In [16]:
feats = list(imp_coef[imp_coef > 0].index)
X_train = X_train[feats]
X_test = X_test[feats]

In [18]:
# # Grid Search
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import GridSearchCV

# regressor = RandomForestRegressor()
# #parameters = [{'n_estimators' : [150,200,250,300], 'max_features' : ['auto','sqrt','log2']}]
# parameters = {'bootstrap': [True, False],
#  'max_depth': [10, 20, 40, 60, 80, 100, None],
#  'max_features': ['auto', 'sqrt'],
#  'min_samples_leaf': [1, 2, 4],
#  'min_samples_split': [2, 5, 10],
#  'n_estimators': [200, 400, 600, 800, 1000]}
# grid_search = GridSearchCV(estimator = regressor, param_grid = parameters,n_jobs=-1)
# grid_search = grid_search.fit(X_train, y_train)
# best_parameters = grid_search.best_params_

In [20]:
#best_parameters

In [19]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 200, max_features = 'sqrt', max_depth=7,min_samples_leaf=2) 
regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=7, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=2,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [21]:
def mape(y_pred,y_true):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [22]:
from sklearn import metrics
y_pred = regressor.predict(X_test) 
y_pred_train = regressor.predict(X_train) 
print("Root Mean Squared Error Train: " + str(np.sqrt(metrics.mean_squared_error(y_pred_train,y_train))))
print("Root Mean Squared Error Test: " + str(np.sqrt(metrics.mean_squared_error(y_test,y_pred))))
print("Score Test: "+ str(regressor.score(X_test,y_test))) #R^2
print("MAPE Test:" + str(mape(y_pred,y_test)))

Root Mean Squared Error Train: 4.201436570755517
Root Mean Squared Error Test: 4.842181840408159
Score Test: 0.3436306759323843
MAPE Test:65.42571307352799

In [23]:
from sklearn import metrics
y_pred = X_test["PREVIOUS"]
y_pred_train = X_train["PREVIOUS"]
print("Root Mean Squared Error Train: " + str(np.sqrt(metrics.mean_squared_error(y_pred_train,y_train))))
print("Root Mean Squared Error Test: " + str(np.sqrt(metrics.mean_squared_error(y_test,y_pred))))
print("MAPE Test:" + str(mape(y_pred,y_test)))

Root Mean Squared Error Train: 5.846851838877442
Root Mean Squared Error Test: 5.956380814247098
MAPE Test:63.526987629296094